page-home {

}
.avatar {
  width: 200px;
  margin: 50px auto;
}

img {
  max-width: 100%;
  border: 0;
  border-radius: 120px;
}
h4.detal {
  text-align:  center;
}

.toolbar-background {background-color: #99ccca;}
